@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

header {
  box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.3);
  position: sticky;
  top: 0px;
  background: white;
}

.nav {
  background: white;
  height: 8vh;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-style: italic;
}
.navbar h1 {
  color: #0a2876;
}

.navbar {
  margin-left: 2rem;
  display: flex;
  list-style-type: none;
}

.navbar-item {
  margin-left: 2rem;
}

.navbar-link {
  text-decoration: none;
  display: inline-block;
  color: black;
  transform: translateX(2000px);
  animation: move 750ms ease-out forwards;
}

.navbar-link:hover {
  color: rgb(12, 58, 58);
}

.navbar-item:first-child .navbar-link {
  animation-delay: 0ms;
}

.navbar-item:nth-child(2) .navbar-link {
  animation-delay: 350ms;
}

.navbar-item:nth-child(3) .navbar-link {
  animation-delay: 700ms;
}

.navbar-item:last-child .navbar-link {
  animation-delay: 1050ms;
}

@keyframes move {
  0% {
    transform: translateX(2000px);
  }

  75% {
    transform: translateX(-15px);
  }

  100% {
    transform: translateX(0);
  }
}

/* sections */
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  background: linear-gradient(to right top, #2b5876, #4e4376);
}
.project {
  background: linear-gradient(to right top, #3696d1, #595ab8);
}
.contact {
  background: linear-gradient(to right top, #348f50, #56b4d3);
}
.download {
  background: linear-gradient(to right top, #003973, #e5e5be);
}
